<div class="row profile match-panel table-responsive">
                <table class="table borderless">
                    <thead class="profile-sidebar">
                        <th>
                            <div class="profile-usertitle-time">DD/MM/YYYY</div>
                        </th>
                        <th class="profile-userpic">
                          <img src="{% static 'img/MfIcon.png' %}" class="img-responsive" alt="">
                        </th>
                        <th class="profile-usertitle">
                          <div class="profile-usertitle-name">
                            Miss Fortune
                          </div>
                          <div class="profile-usertitle-job">
                            ADC
                          </div>
                          <div class="profile-usertitle-kda">
                            15/0/1
                          </div>
                        </th>
                        <th class="profile-summ-spells">
                          <img class="spell" src="{% static 'img/flash-icon.jpg' %}" class="img-responsive" alt="">
                          <img class="spell" src="{% static 'img/flash-icon.jpg' %}" class="img-responsive" alt="">
                        </th>
                        <th class="rune-rating">
                            Hi! I am Radar
                        </th>
                    </thead>

                    <!-- Player runes -->
                    <tr>
                      <td><table class="rune-panel player-runes text-center">
                            <thead class="tree-icon text-center">
                                <th></th>
                                <th><img src="{% static 'img/perkStyle/8100.png' %}"></th>
                            </thead>
                            <tbody>
                              <tr class="keystones">
                                <td class="active-keystone"><img src="{% static 'img/perk/8112.png' %}"></td>
                                <td><img src="{% static 'img/perk/8124.png' %}"></td>
                                <td><img src="{% static 'img/perk/8128.png' %}"></td>
                              </tr>
                              <tr class="rune-row">
                                <td><img src="{% static 'img/perk/8126.png' %}"></td>
                                <td class="active-rune"><img src="{% static 'img/perk/8139.png' %}"></td>
                                <td><img src="{% static 'img/perk/8143.png' %}"></td>
                              </tr>
                              <tr class="rune-row">
                                <td><img src="{% static 'img/perk/8136.png' %}"></td>
                                <td><img src="{% static 'img/perk/8120.png' %}"></td>
                                <td class="active-rune"><img src="{% static 'img/perk/8138.png' %}" ></td>
                              </tr>
                              <tr class="rune-row">
                                <td><img src="{% static 'img/perk/8135.png' %}"></td>
                                <td><img src="{% static 'img/perk/8134.png' %}"></td>
                                <td class="active-rune"><img src="{% static 'img/perk/8105.png' %}"></td>
                              </tr>
                            </tbody>
                        </table>
                      </td>

                      <td><table class="rune-panel player-runes text-center secondary-tree">
                            <thead class="tree-icon text-center">
                                <th></th>
                                <th><img src="{% static 'img/perkStyle/8100.png' %}"></th>
                            </thead>
                            <tbody>
                              <tr class="keystones">
                                <td class="active-keystone"><img src="{% static 'img/perk/8112.png' %}"></td>
                                <td><img src="{% static 'img/perk/8124.png' %}"></td>
                                <td><img src="{% static 'img/perk/8128.png' %}"></td>
                              </tr>
                              <tr class="rune-row">
                                <td><img src="{% static 'img/perk/8126.png' %}"></td>
                                <td class="active-rune"><img src="{% static 'img/perk/8139.png' %}"></td>
                                <td><img src="{% static 'img/perk/8143.png' %}"></td>
                              </tr>
                              <tr class="rune-row">
                                <td><img src="{% static 'img/perk/8136.png' %}"></td>
                                <td><img src="{% static 'img/perk/8120.png' %}"></td>
                                <td class="active-rune"><img src="{% static 'img/perk/8138.png' %}" ></td>
                              </tr>
                              <tr class="rune-row">
                                <td><img src="{% static 'img/perk/8135.png' %}"></td>
                                <td><img src="{% static 'img/perk/8134.png' %}"></td>
                                <td class="active-rune"><img src="{% static 'img/perk/8105.png' %}"></td>
                              </tr>
                            </tbody>
                        </table>
                      </td>

                      <td>

                          <table class="rune-panel rune-description">
                              <thead>
                                  <th class="chosen-rune"><img src="{% static 'img/perk/8112.png' %}"></th>
                              </thead>
                              <tbody>
                              <tr class="chosen-rune-name">
                                  <td>
                                      Electrocute
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <p class="optimal-roles-title">Optimal roles:</p> 
                                      <p class="optimal-roles">Assassin, Mage </p>
                                  </td>
                              </tr>
                              <tr class="rune-description-text">
                                  <td>
                                      Hello I am a rune description, I will go here
                                  </td>
                              </tr>
                              </tbody>
                          </table>

                      </td>

                      <!-- Optimal Runes -->
                      <td><table class="rune-panel optimal-runes text-center">
                            <thead class="tree-icon text-center">
                                <th></th>
                                <th><img src="{% static 'img/perkStyle/8100.png' %}"></th>
                            </thead>
                            <tbody>
                              <tr class="keystones">
                                <td class="active-keystone"><img src="{% static 'img/perk/8112.png' %}"></td>
                                <td><img src="{% static 'img/perk/8124.png' %}"></td>
                                <td><img src="{% static 'img/perk/8128.png' %}"></td>
                              </tr>
                              <tr class="rune-row">
                                <td><img src="{% static 'img/perk/8126.png' %}"></td>
                                <td class="active-rune"><img src="{% static 'img/perk/8139.png' %}"></td>
                                <td><img src="{% static 'img/perk/8143.png' %}"></td>
                              </tr>
                              <tr class="rune-row">
                                <td><img src="{% static 'img/perk/8136.png' %}"></td>
                                <td><img src="{% static 'img/perk/8120.png' %}"></td>
                                <td class="active-rune"><img src="{% static 'img/perk/8138.png' %}" ></td>
                              </tr>
                              <tr class="rune-row">
                                <td><img src="{% static 'img/perk/8135.png' %}"></td>
                                <td><img src="{% static 'img/perk/8134.png' %}"></td>
                                <td class="active-rune"><img src="{% static 'img/perk/8105.png' %}"></td>
                              </tr>
                            </tbody>
                        </table>
                      </td>

                      <td><table class="rune-panel optimal-runes text-center secondary-tree">
                            <thead class="tree-icon text-center">
                                <th></th>
                                <th><img src="{% static 'img/perkStyle/8100.png' %}"></th>
                            </thead>
                            <tbody>
                              <tr class="keystones">
                                <td class="active-keystone"><img src="{% static 'img/perk/8112.png' %}"></td>
                                <td><img src="{% static 'img/perk/8124.png' %}"></td>
                                <td><img src="{% static 'img/perk/8128.png' %}"></td>
                              </tr>
                              <tr class="rune-row">
                                <td><img src="{% static 'img/perk/8126.png' %}"></td>
                                <td class="active-rune"><img src="{% static 'img/perk/8139.png' %}"></td>
                                <td><img src="{% static 'img/perk/8143.png' %}"></td>
                              </tr>
                              <tr class="rune-row">
                                <td><img src="{% static 'img/perk/8136.png' %}"></td>
                                <td><img src="{% static 'img/perk/8120.png' %}"></td>
                                <td class="active-rune"><img src="{% static 'img/perk/8138.png' %}" ></td>
                              </tr>
                              <tr class="rune-row">
                                <td><img src="{% static 'img/perk/8135.png' %}"></td>
                                <td><img src="{% static 'img/perk/8134.png' %}"></td>
                                <td class="active-rune"><img src="{% static 'img/perk/8105.png' %}"></td>
                              </tr>
                            </tbody>
                        </table>
                      </td>

                    </tr>
                </table>
                </div>